

.phone375 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 7590px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.phone375 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 768px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 543px;
  height              : 225px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightfielddefault {
  background-color    : rgba(255,255,255,0.0);
  top                 : 52px;
  height              : 76px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightfielddefault .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 76px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightfielddefault .label {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.phone375 .lightfielddefault .rectangle19 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 28px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(218, 218, 218, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightfielddefault .placeholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 31px;
  height              : 17px;
  width               : 65px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .darkbuttonsecondaryicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 312px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .darkbuttonsecondaryicon .rectangle19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 48px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 0.3);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 33px;
  height              : 14px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 328px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .darkbuttonsecondaryicon1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 256px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .darkbuttonsecondaryicon1 .rectangle19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 48px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 0.3);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 31px;
  height              : 18px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 268px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 290px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .a0 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 294px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .darkbuttonsecondaryicon2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 200px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .darkbuttonsecondaryicon2 .rectangle19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 48px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 0.3);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 31px;
  height              : 22px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 212px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .utlaboreetdolore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 247px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 56.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 64.0px;
}
.phone375 .minimveniam {
  background-color    : rgba(255,255,255,0.0);
  top                 : 205px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .lightbuttonprimarytext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 416px;
  height              : 48px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightbuttonprimarytext .rectangle19 {
  background-color    : rgba(255, 195, 0, 1.0);
  top                 : 0px;
  height              : 48px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightbuttonprimarytext .button {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 53px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .darkbuttonsecondaryicon3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 704px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .darkbuttonsecondaryicon3 .rectangle19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 48px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 0.3);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 720px;
  height              : 16px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .darkbuttonsecondaryicon4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 704px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 312px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .darkbuttonsecondaryicon4 .rectangle19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 48px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(255, 255, 255, 0.3);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .path1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 720px;
  height              : 16px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 333px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .rectangle1 {
  background-color    : rgba(253, 242, 255, 1.0);
  top                 : 768px;
  height              : 592px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .quisnostrud {
  background-color    : rgba(255,255,255,0.0);
  top                 : 821px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.phone375 .voluptatemquiavolu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 862px;
  height              : auto;
  width               : 208px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .shape3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 822px;
  height              : 36px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .exercitation {
  background-color    : rgba(255,255,255,0.0);
  top                 : 949px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.phone375 .nemoenimipsamvolu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 990px;
  height              : auto;
  width               : 210px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .shape4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 950px;
  height              : 36px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .shape5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1072px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .ullamcolaboris {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1077px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.phone375 .nequeporroquisquam {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1118px;
  height              : auto;
  width               : 208px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .shape6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1200px;
  height              : 48px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .nisiutaliquip {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1205px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.phone375 .utenimadminimave {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1246px;
  height              : auto;
  width               : 210px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 1360px;
  height              : 2032px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .natuserror {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1421px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 132px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .undeomnisiste {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1462px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 48.0px;
}
.phone375 .adipiscivelitsed {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1534px;
  height              : auto;
  width               : 347px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .bitmap1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1699px;
  height              : 131px;
  width               : 272px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .commodo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1870px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 149px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .consequat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1902px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 148px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .duisaute {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1934px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 153px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .iruredolor {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1966px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 149px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .seeall {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1998px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 162px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .bitmap2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2110px;
  height              : 131px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 137px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .reprehenderit {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2286px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 135px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .voluptate {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2318px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 153px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .velitesse {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2350px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 154px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .cillumdolore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2382px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 140px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .seeall1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2414px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 162px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .bitmap3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2537px;
  height              : 140px;
  width               : 124px;
  position            : absolute;
  margin              : 0;
  left                : 125px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .fugiatnulla {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2718px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .pariatur {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2750px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 158px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .excepteur {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2782px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 152px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .sintoccaecat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2814px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 141px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .seeall2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2846px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 162px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .bitmap4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2961px;
  height              : 158px;
  width               : 188px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .cupidatat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3150px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 152px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .nonproident {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3182px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 141px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .suntinculpa {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3214px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 141px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .quiofficia {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3246px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 150px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .seeall3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3278px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 162px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .rectangle3 {
  background-color    : rgba(253, 242, 255, 1.0);
  top                 : 3392px;
  height              : 1712px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .deserunt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3437px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .mollitanim {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3478px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  line-height         : 48.0px;
}
.phone375 .rectangle4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3536px;
  height              : 576px;
  width               : 441px;
  position            : absolute;
  margin              : 0;
  left                : -17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .bitmap5 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 3568px;
  height              : 480px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  border-radius       : 3px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .bitmap5 .mask {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 480px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .bitmap5 .bitmap12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 186px;
  height              : 294px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .sedutperspiciatis {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3605px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.phone375 .undeomnisistenatu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3646px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .lightbuttonsecondarytext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3696px;
  height              : 48px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightbuttonsecondarytext .rectangle19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(200, 109, 215, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightbuttonsecondarytext .button {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(200, 109, 215, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .rectangle5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4032px;
  height              : 320px;
  width               : 441px;
  position            : absolute;
  margin              : 0;
  left                : -17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .bitmap6 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 4064px;
  height              : 224px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  border-radius       : 3px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .bitmap6 .mask {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 224px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .bitmap6 .bitmap12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : 198px;
  width               : 280px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .totamremaperiam {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4101px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.phone375 .a199 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4174px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .rectangle6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4272px;
  height              : 320px;
  width               : 441px;
  position            : absolute;
  margin              : 0;
  left                : -17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .bitmap7 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 4304px;
  height              : 224px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  border-radius       : 3px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .bitmap7 .mask {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 224px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .bitmap7 .bitmap12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 64px;
  height              : 160px;
  width               : 236px;
  position            : absolute;
  margin              : 0;
  left                : 109px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .eaqueipsa {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4341px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.phone375 .a99 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4414px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .rectangle7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4512px;
  height              : 576px;
  width               : 441px;
  position            : absolute;
  margin              : 0;
  left                : -17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .bitmap8 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 4544px;
  height              : 480px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  border-radius       : 3px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .bitmap8 .mask {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 480px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .bitmap8 .bitmap12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 215px;
  height              : 233px;
  width               : 334px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .quaeabilloinvento {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4581px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.phone375 .architectobeataevi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4622px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .lightbuttonsecondarytext1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4672px;
  height              : 48px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightbuttonsecondarytext1 .rectangle19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(200, 109, 215, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightbuttonsecondarytext1 .button {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(200, 109, 215, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .rectangle8 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 5104px;
  height              : 768px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .undeomnis {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5158px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 48.0px;
}
.phone375 .rectangle9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5264px;
  height              : 528px;
  width               : 366px;
  position            : absolute;
  margin              : 0;
  left                : -17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .bitmap9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5344px;
  height              : 189px;
  width               : 178px;
  position            : absolute;
  margin              : 0;
  left                : 61px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .nemoenimipsam {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5573px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.phone375 .lightbuttonsecondaryicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5648px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 205px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightbuttonsecondaryicon .rectangle19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 48px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(200, 109, 215, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .shape7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5663px;
  height              : 18px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 217px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .a180 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5646px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .electronics {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5230px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : right;
  line-height         : 24.0px;
}
.phone375 .appliances {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5230px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 205px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : right;
  line-height         : 24.0px;
}
.phone375 .clothes {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5230px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 311px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : right;
  line-height         : 24.0px;
}
.phone375 .rectangle10 {
  background-color    : rgba(200, 109, 215, 1.0);
  top                 : 5245px;
  height              : 8px;
  width               : 51px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .phones {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5230px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : right;
  line-height         : 24.0px;
}
.phone375 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5264px;
  height              : 528px;
  width               : 366px;
  position            : absolute;
  margin              : 0;
  left                : 283px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .bitmap10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5296px;
  height              : 285px;
  width               : 270px;
  position            : absolute;
  margin              : 0;
  left                : 315px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightbuttonsecondaryicon1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5648px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 505px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightbuttonsecondaryicon1 .rectangle19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 48px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(200, 109, 215, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .shape8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5663px;
  height              : 18px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 517px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .sedquiaconsequuntu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5573px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 347px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.phone375 .a1801 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5646px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 347px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .lightbuttonsecondaryicon2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5776px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 135px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightbuttonsecondaryicon2 .rectangle19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 48px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(200, 109, 215, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5792px;
  height              : 16px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 152px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightbuttonsecondaryicon3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5776px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 191px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightbuttonsecondaryicon3 .rectangle19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 48px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(200, 109, 215, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .path3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5792px;
  height              : 16px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 212px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .rectangle12 {
  background-color    : rgba(253, 242, 255, 1.0);
  top                 : 5872px;
  height              : 1248px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .bitmap11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6306px;
  height              : 265px;
  width               : 196px;
  position            : absolute;
  margin              : 0;
  left                : 89px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .magnidolores {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5926px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 48.0px;
}
.phone375 .rectangle13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6032px;
  height              : 272px;
  width               : 441px;
  position            : absolute;
  margin              : 0;
  left                : -17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .voluptate1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6101px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.phone375 .electronics1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6174px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 119px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .appliances1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6174px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 215px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .rectangle14 {
  background-color    : rgba(200, 109, 215, 1.0);
  top                 : 6189px;
  height              : 8px;
  width               : 51px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .phones1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6174px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .clothes1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6174px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 311px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .a12170842 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5989px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.phone375 .oval1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6288px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 224px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .a15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6312px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 235px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 32.0px;
}
.phone375 .quisautemveleumi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6613px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.phone375 .a1991 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6693px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.phone375 .a299 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6702px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .rectangle15 {
  background-color    : rgba(255, 106, 124, 1.0);
  top                 : 6714px;
  height              : 2px;
  width               : 36px;
  position            : absolute;
  margin              : 0;
  left                : 78px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .nequeporroquisquam1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6750px;
  height              : auto;
  width               : 347px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .sold120 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6910px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .quantity500 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6910px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 265px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : right;
  line-height         : 24.0px;
}
.phone375 .rectangle16 {
  background-color    : rgba(237, 237, 237, 1.0);
  top                 : 6944px;
  height              : 16px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .rectangle17 {
  background-color    : rgba(200, 109, 215, 1.0);
  top                 : 6944px;
  height              : 16px;
  width               : 98px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  border-radius       : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightbuttonprimarytext1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7008px;
  height              : 48px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightbuttonprimarytext1 .rectangle19 {
  background-color    : rgba(200, 109, 215, 1.0);
  top                 : 0px;
  height              : 48px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightbuttonprimarytext1 .button {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 45px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.phone375 .rectangle18 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 7120px;
  height              : 768px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .group {
  background-color    : rgba(48, 35, 174, 1.0);
  top                 : 7127px;
  height              : 464px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .group .rectangle19 {
  background-color    : rgba(48, 35, 174, 1.0);
  top                 : 0px;
  height              : 464px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .group .oval3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 366px;
  height              : 140px;
  width               : 140px;
  position            : absolute;
  margin              : 0;
  left                : -60px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .group .oval11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 296px;
  height              : 323px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 251px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7097px;
  height              : 100px;
  width               : 100px;
  position            : absolute;
  margin              : 0;
  left                : 230px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .ducimusqui {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7229px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 48.0px;
}
.phone375 .praesentiumvoluptat {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7301px;
  height              : auto;
  width               : 347px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .odiodignissimos {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7188px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .lightfielddefault1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7387px;
  height              : 76px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightfielddefault1 .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 76px;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightfielddefault1 .label {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 14.0px;
}
.phone375 .lightfielddefault1 .rectangle19 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 28px;
  height              : 48px;
  box-sizing          : border-box;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 3px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(218, 218, 218, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .lightfielddefault1 .placeholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.5;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.phone375 .darkbuttonprimarytext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7479px;
  height              : 48px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .darkbuttonprimarytext .rectangle19 {
  background-color    : rgba(255, 195, 0, 1.0);
  top                 : 0px;
  height              : 48px;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.phone375 .darkbuttonprimarytext .button {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}